@model BookModel
@{
    ViewData["Title"] = "Kitaplar";
}


<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalAdd"
           data-ajax="true" data-ajax-method="get" data-ajax-url="/Moderator/AddNewBookPartial" data-ajax-update="#modalAddContent">
            <i class="fa fa-plus me-2"></i>Kitap Ekle
        </a>

        <a id="refresh" data-ajax="true" data-ajax-method="get" data-ajax-url="/Moderator/BookListPartial" data-ajax-update="#panel"
           class="btn btn-secondary btn-sm"><i class="fa fa-sync-alt me-2"></i>Yenile</a>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div id="panel">
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAdd" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div id="modalAddContent" class="modal-content">
        </div>
    </div>
</div>




 
@section Scripts{
     <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script>
                   refresh.click();
    </script>
   
}